/* 
· *     Docsify Theme adapted from Typora Theme - Lapis
 *     Original Author - YiNN 
 *     https://github.com/YiNNx/typora-theme-lapis
 */

:root {
    --theme-color: #4870ac;
    --text-color: #40464f;
    /* Text */
    --primary-color: #4870ac;
    /* Primary Color */
    --bg-color: #ffffff;
    --side-bar-bg-color: var(--bg-color);
    /* Background */

    --marker-color: #a2b6d4;
    /* List Marker */
    --source-color: #a8a8a9;
    /* for comment / link source */
    --highlight-color: #ffffb5c2;
    /* Highlight */
    --header-span-color: var(--primary-color);
    /* h2 Span Color */
    --block-bg-color: #f6f8fa;
    /* Block Background */
    --img-shadow-color: #e3e8f0;

    /* Overwrite of Typora Base Color */
    --search-hit-bg-color: var(--select-text-bg-color);
    --search-select-bg-color: #5bb3ff;
    --control-text-hover-color: #a2b6d4;
    --rawblock-edit-panel-bd: var(--block-bg-color);
    --item-hover-bg-color: rgb(246 248 250);
    --active-file-bg-color: var(--block-bg-color);
}

@media print {
    :root {
        --text-color: rgb(0, 0, 0);
    }
}

/*
 * Font-face for Cantarell, Source Han Serif CN and JetBrains Mono
 */

@font-face {
    font-family: "Cantarell";
    src: url('lapis/Cantarell-VF-fixed.otf');
}

@font-face {
    font-family: "JetBrainsMono";
    src: url('lapis/JetBrainsMono-Regular.ttf');
}

@font-face {
    font-family: "SourceHanSerifCN";
    src: url('lapis/SourceHanSerifCN-Medium.ttf');
}

@font-face {
    font-family: "SourceHanSerifCN";
    src: url('lapis/SourceHanSerifCN-Bold.ttf');
    font-weight: bold;
}

/*
 * Basic Style
 */

.markdown-section {
    max-width: 950px;
    font-size: 1.1rem;
    color: var(--text-color);
    line-height: 1.6;
    word-spacing: 0px;
    letter-spacing: 0px;
    word-break: break-word;
    word-wrap: break-word;
    text-align: justify;

    font-family: 'Cantarell', 'SourceHanSerifCN', 'JetBrainsMono';
}

/* Strong */

.markdown-section strong {
    color: var(--primary-color);
}

/* Link */

.markdown-section a {
    color: var(--primary-color);
    text-decoration: underline solid;
    text-underline-offset: 4px;
    text-decoration-thickness: 1px;
}

.markdown-section h2.md-heading a {
    text-decoration: underline;
    border-bottom: 0;
    text-underline-offset: 3px;
    text-decoration-thickness: 1.2px;
}

/* mark */

mark {
    background: var(--highlight-color);
    padding: 1px .15rem;
    border-radius: 1px;
    color: inherit;
}

/*
 * Header
 */

.markdown-section h1,
.markdown-section h2,
.markdown-section h3,
.markdown-section h4,
.markdown-section h5,
.markdown-section h6 {
    font-family: 'SourceHanSerifCN';
    padding: 0px;
    color: var(--primary-color);
    border-bottom: none;
}

.markdown-section h1 {
    text-align: center;
    font-size: 2rem;
    padding-top: 0.9rem;
    margin-bottom: 2.3rem;
}

.markdown-section h2 {
    font-size: 1.5rem;
    margin: .3em 0;
    padding: 1px 12.5px;
    border-radius: 4px;
    display: inline-block;
    background-color: var(--header-span-color);
    color: var(--bg-color);
}

.markdown-section h2 code,
.markdown-section h2 a,
.markdown-section h2 strong {
    color: var(--bg-color);
    background-color: var(--header-span-color);
}

.markdown-section h3 {
    font-size: 1.4rem;
    margin: 1em 0 1em;
}

.markdown-section h4 {
    font-size: 1.2rem;
    margin: 0.8em 0 0.8em;
}

.markdown-section h5 {
    font-size: 1.1rem;
    margin: 0.6em 0 0.6em;
}

.markdown-section h6 {
    font-size: 1.1rem;
    margin: 0.4em 0 0.4em;
}

/*
 * List
 */

::marker {
    font-weight: bold;
    color: var(--marker-color);
}

.markdown-section ul,
.markdown-section ol {
    margin-top: 8px;
    margin-bottom: 8px;
    padding-left: 20px;
}

.markdown-section ul {
    list-style-type: disc;
}

.markdown-section ul ul {
    list-style-type: square;
}

/*
 * Quote
 */

.markdown-section blockquote {
    display: block;
    font-size: .9em;
    overflow: auto;
    border-left: 3px solid var(--primary-color) !important;
    padding: 15px 30px 15px 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    background: var(--block-bg-color);
}

/*
 * Inline code
 */

.markdown-section :not(pre) > code {
    color: var(--primary-color);
    font-size: 94%;
    font-weight: normal;
    word-wrap: break-word;
    padding: 2px 4px 2px;
    border-radius: 3px;
    margin: 2px;
    background-color: var(--block-bg-color);
    font-family: 'JetBrainsMono';
    word-break: break-all;
}

/*
 * Img
 */

.markdown-section img {
    margin: 0 auto;
    max-width: 100%;
}

/*
 * Table
 */
.markdown-section table {
    display: table;
    text-align: justify;
    overflow-x: auto;
    border-collapse: collapse;
    border-spacing: 0px;
    font-size: 1em;
    margin: 0px 0px 20px;
    width: 100%;
}

.markdown-section table tr th,
.markdown-section table tr td {
    font-size: 1rem;
    border: 1px solid #d9dfe4;
    padding: 5px 10px;
}

.markdown-section table tr th {
    font-family: SourceHanSerifCN;
    text-align: center;
    background-color: var(--block-bg-color);
    font-weight: bold;
    color: var(--primary-color);
}

/*
 * Sidebar
 */
.sidebar {
    font-family: 'Cantarell', 'SourceHanSerifCN';
    background-color: var(--bg-color) !important;
    color: var(--text-color);
    border-right: 1px solid #eef2f5;
}

.sidebar-nav a {
    color: var(--text-color) !important;
    text-decoration: none !important;
}

.sidebar-nav li.active > a {
    color: var(--primary-color) !important;
    font-weight: bold;
}

.sidebar-nav ul li a:hover {
    color: var(--primary-color) !important;
}

/* 
 * Code Block - Scheme
 */
pre {
    background-color: var(--block-bg-color) !important;
    padding: 1.2rem .8rem !important;
    border-radius: 10px !important;
    line-height: 1.6rem !important;
}

code {
    font-family: 'JetBrainsMono' !important;
}
